<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="new.css">
    <style>
        body{

            text-align: center;
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <h1>Add user </h1>

    <form action="/chats" method="post">

        <div>
            <input type="text"   name="from" placeholder="Enter sender's name"><br><br>
            <input type="text" name="to" placeholder="Enter reciever's name"><br><br>
            <label for="">Enter your message</label><br>
            <textarea name="msg" id="" rows="5" cols="25"></textarea><br>
            <label for="">Enter date and time</label><br>
            <input type="datetime-local" name="createdAt" id=""><br><br><br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>